<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xd640cfg >
<xd640cfg>
<s n="Desktop Entry">
	<i n="Name" 		v="CD-ROM" />

	<i n="Icon" v="devices/cdrom_mount" />
	<i n="UnmountIcon" v="devices/cdrom_unmount" />
	<i n="Type" v="FSDevice" />
	<i n="MountPoint" v="/cdrom" />
	<i n="FSType" v="Default" />
</s>
</xd640cfg>

