Source: xd640-lib
Section: main
Priority: optional
Maintainer: Jean-Marc Lienher <oksid@bluewin.ch>
Standards-Version: 3.1.0

Package: xd640-lib
Section: x11
Architecture: any
Depends: libfltk-utf8
Description: Shared library for the Xd640 suite.
