#!/usr/bin/make -f
# -*- makefile -*- made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independant
# package.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

CONFIGURE_FLAGS := --prefix=/usr --sysconfdir=/etc --enable-debug --mandir=/usr/share/man --enable-shared --disable-gl


INST_TMP     := $(shell pwd)/debian/tmp

BINDIR          := usr/bin
DOCDIR          := usr/share/doc
INCDIR          := usr/include
LIBDIR          := usr/lib
MANDIR          := usr/share/man

INSTALL_R_FILE  := install -p -m 644 -o root -g root
INSTALL_X_FILE  := install -p -m 755 -o root -g root
INSTALL_DIR     := install -p -m 755 -o root -g root -d

build: build-stamp
build-stamp: configure
	dh_testdir
	dh_clean -a -k
	./configure $(CONFIGURE_FLAGS)
	$(MAKE)
	touch $@

configure: configure.in
	autoconf

clean:
	dh_testdir
	test ! -d $(INST_TMP) || test -O $(INST_TMP) || dh_testroot

	-$(MAKE) distclean
	rm -f *-stamp config.h config.status  config.cache
	dh_clean

# Build architecture-independent files here.
binary-indep: 

binary-arch: build
#	dh_testversion
	dh_testdir -a
	dh_testroot -a

	$(INSTALL_DIR)      $(INST_TMP)/usr
	$(MAKE) -e prefix=$(INST_TMP)/usr sysconfdir=$(INST_TMP)/etc \
		MAKEFLAGS="e prefix=$(INST_TMP)/usr sysconfdir=$(INST_TMP)/etc"\
		 install
	$(INSTALL_DIR)      $(INST_TMP)/$(DOCDIR)/xd640-lib
	$(INSTALL_R_FILE)   debian/copyright $(INST_TMP)/$(DOCDIR)/xd640-lib/copyright
	$(INSTALL_R_FILE)   debian/changelog $(INST_TMP)/$(DOCDIR)/xd640-lib/changelog.Debian

	dh_installmenu -pxd640
	dh_strip -a 
	dh_compress -a
	dh_fixperms -a 
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -u-isp
	dh_md5sums -a
	dh_builddeb -a

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
